.product-view {
    .title, .subtitle, .content {
        color: #FFFFFF;
    }

    .thumbnail.image {
        float: left;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    strong {
        color: white;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .buy-btn {
        background: transparent;
        border: 1px solid #FFF487;
        color: #FFF487;

        &:hover {
            background: #FFF487;
            color: black;
        }

        &.is-loading {
            background: transparent;
            border: 1px solid #FFF487;

            &:hover {
                background: transparent;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .product-view {
        .main-image {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}