.product-card {
    bottom: -200px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;

    &.show {
        bottom: 0px;
        opacity: 1;
    }

    .content {
        height: 35px;
    }
}