// Code extracted from
// http://codepen.io/summerphil/pen/LbdYVK
.speedbox {
  margin: 0.5em auto;
  height: 200px;
  width: 200px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  
  .legend {
    z-index: 3;
  }

  &__groove {
    height: 100px;
    width: 200px;
    background: transparent;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 20px solid #eee;
    border-bottom: 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__score {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    height: 200px;
    width: 200px;
    background: transparent;
    border-radius: 50%;
    border: 20px solid #0097FF;
    border-color: transparent transparent #0097FF #0097FF;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    transition: transform 1s ease;
    
  }
  &__base {
    width: 240px;
    height: 100px;
    background: #141527;
    position: relative;
    top: 100px;
    z-index: 1;
    &:before {
      content: '';
      width: 240px;
      position: absolute;
      top: 0;
      box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
    }
  }
  &__odo {
    text-align: center;
    position: absolute;
    color: #5c6f7b;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    i {
      font-size: 13px;
      opacity: .6;
    }
    >div {
      margin-bottom: 0;
    }
    span {
      font-size: .7em;
    }
  }
  &__ping {
    font-size: 13px;
  }
  &__up {
    font-size: 13px;
    line-height: 1.5em;
  }
  &__down {
    font-size: 25px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    line-height: 1.2em;
  }

  &__gauge{
    position: absolute;
    font-family: Arial;
    color: #ccc;
    font-size: 11px;
    
    &--0{
      transform: rotate(-90deg);
     left: -10px;
      top: 86px;
    }
     &--50{
      top: -13px;
    }
     &--100{
      transform: rotate(90deg);
      right: -22px;
      top: 78px;
    }
  }
}