@import '../node_modules/bulma/bulma';
@import './speedbox';
@import './product_card';
@import './product_view';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #fff;
  background: #141527;
}

.hero {
    background: #141527;
    &.main-title {
        a, 
        a:hover, 
        a:visited, 
        a:active {
            color: white;
        }

        h2.subtitle {
            color: #FFF487;
        }
    }
}

footer.footer { 
    margin-top: 60px;
    background: #000;
    color: whitesmoke;

    .content {
        color: whitesmoke;
    }
}

@media screen and (max-width: 768px) {
    .level-item:not(:last-child) {
        margin-bottom: 0px;
    }
}