<template>
  <div class="container product-view">
    <div class="columns" v-if="product">
      <div class="column is-one-third">
        <div class="columns">
          <div class="column">
            <figure class="is-pulled-left image main-image" v-if="selectedMedia.type === 'image'">
              <img :src="selectedMedia.src">
            </figure>
            <div class="video" v-if="selectedMedia.type === 'video'">
              <iframe :src="selectedMedia.src" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="columns is-clearfix">
          <div class="column">
            <figure class="thumbnail image is-48x48" v-for="media in product.media">
              <img :src="media.thumbnail" @click="setMedia(media)">
            </figure>
          </div>
        </div>
      </div>
      <div class="column">
        <h2 class="product__name title is-2">{{ product.name }}</h2>
        <h3 class="product__manufacturer subtitle is-3">{{ product.manufacturer }}</h3>
        <div class="product__description content">
          <div>
            <span>{{ product.price || 'N/A credits' }}</span> | <strong class="product__class">{{ product.class }}</strong>
          </div>
          <br>
          <a class="button is-primary is-medium buy-btn" :class="{'is-loading': buyClicked}" @click="buy">Buy</a>
          <br>
          <h3 class="title">Tech Specs</h3>
          <ul>
            <li v-for="(value, spec) in product.techspecs">
              {{ `${spec}: ${value}`}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="columns" v-if="product">
      <div class="column">
        <nav class="level">
          <speedometer title="Length" :value="product.techspecs['length']" :max="35"></speedometer>
          <speedometer title="maxaccel" :value="product.techspecs['maxaccel']" :max="5250"></speedometer>
          <speedometer title="MGLT" :value="product.techspecs['MGLT']" :max="150"></speedometer>
          <speedometer title="max atmospheric speed" :value="product.techspecs['maxatmosphericspeed']" :max="1500"></speedometer>
        </nav>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  import { mapGetters } from 'vuex'
  import Speedometer from './Speedometer'

  export default {
    name: 'ProductView',
    data () {
      return {
        media: null,
        buyClicked: false
      }
    },
    computed: {
      selectedMedia () {
        if (this.media !== null) {
          return this.media
        }

        return this.product.media[0]
      },
      ...mapGetters({
        product: 'currentProduct'
      })
    },
    methods: {
      setMedia (media) {
        this.media = media
      },
      buy () {
        if (this.buyClicked) {
          return
        }

        this.buyClicked = true

        setTimeout(() => {
          this.buyClicked = false
        }, 1000)
      }
    },
    mounted () {
      this.$store.commit('setCurrentProduct', { id: this.$route.params.id })
    },
    components: {
      Speedometer
    }
  }
</script>
