<template>
<div>
<div class="container">
  <div v-for="chunks in productChunks" class="columns">
    <div v-for="product in chunks" class="column">
      <div class="card product-card" :class="product.elClass">
        <div class="card-image">
          <figure class="image is-4by3">
            <router-link :to="{ name: 'ProductView', params: { id: product.id }}">
              <img :src="mainImage(product)" alt="Image">
            </router-link>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <router-link :to="{ name: 'ProductView', params: { id: product.id }}">
                <p class="title is-4">{{ product.name }}</p>
              </router-link>
              <p class="subtitle is-6">{{ product.manufacturer }}</p>
            </div>
          </div>
          <nav class="level is-flex-mobile">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Length</p>
                <p>{{ product.techspecs['length'] || 'N/A' }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">maxaccel</p>
                <p>{{ product.techspecs['maxaccel'] || 'N/A' }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">MGLT</p>
                <p>{{ product.techspecs['MGLT'] || 'N/A' }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">max speed</p>
                <p>{{ product.techspecs['maxatmosphericspeed'] || 'N/A' }}</p>
              </div>
            </div>
          </nav>
          <div class="content">
            <div class="columns is-flex-mobile">
              <div class="column">
                {{ product.price || 'N/A credits' }}
              </div>
              <div class="column has-text-right">
                <strong>{{ product.class }}</strong>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div v-if="chunks.length < 3" v-for="placeHolder in Array.from('-'.repeat(3 - chunks.length))" class="column">
      <!-- placeholder -->
    </div> 
  </div>
</div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'hello',
  computed: {
    products () { return this.$store.state.products },
    ...mapGetters({
      productChunks: 'productChunks'
    })
  },
  methods: {
    mainImage (product) {
      var media = product.media.find(media => {
        return media.type === 'image'
      })

      if (typeof media !== 'undefined') {
        return media.thumbnail
      }

      return null
    }
  },
  beforeMount () {
    this.$store.commit('hideProducts')
  },
  mounted () {
    this.$store.commit('showProducts')
  }
}
</script>
