<template>
    <div class="speedbox">
      <div class="speedbox__score" id="speedbox-score" v-bind:style="cssRotation"></div>
      <div class="speedbox__groove"></div>
      <div class="speedbox__gauge speedbox__gauge--0">0</div>
      <div class="speedbox__gauge speedbox__gauge--100">{{ this.max }}</div>
      <div class="speedbox__base"></div>
      <div class="legend level-item has-text-centered">
        <div>
          <p class="title">{{ value || 'N/A' }}</p>
          <p class="heading">{{ title }}</p>
        </div>
      </div>
    </div>
</template>

<script type="text/javascript">
  export default {
    props: ['max', 'value', 'title'],
    data () {
      return {
        cssRotation: {}
      }
    },
    computed: {
      median () {
        return this.max / 2
      },
      numValue () {
        let value = this.value.replace(/,/g, '')
        return Number(value.match(/\d+/)[0])
      }
    },
    methods: {
      calculateRotation () {
        // console.log(this.numValue)
        let rotation = Math.round(this.numValue * 180 / this.max) - 45
        // console.log(rotation)
        return { 'transform': `rotate(${rotation}deg)` }
      }
    },
    mounted () {
      // console.log(this.value)
      setTimeout(() => {
        this.cssRotation = this.calculateRotation()
      }, 300)
    }
  }
</script>
