<template>
  <div id="app">
    <section class="hero main-title">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <router-link :to="{ name: 'Products' }">
                Watto’s Emporium
            </router-link>
          </h1>
          <h2 class="subtitle">
            Used spaceships
          </h2>
        </div>
      </div>
    </section>
    <router-view></router-view>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Watto's Emporium | Used Spaceships
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'app',

  mounted () {
    this.$store.dispatch('getProducts')
  }
}
</script>

<style lang="scss">
@import './sass/app';
</style>
